<h1>search your friends</h1>
<div>
  <%  @users.each do |user| %>
    <p>
      <%= link_to user.email, profile_path(user) %>
    </p>
  <% end %>
  <%= link_to 'Groups',groups_path, class: "btn btn-outline-dark btn-sm radius-15" %>
  <%= link_to 'add friends',groups_path, class: "btn btn-outline-dark btn-sm radius-15" %>
</div>
