
 <!-- ESSA É A PAGINA PROFILE DO CURRENT_ID-->
 <h1 style="color: white">ALOW</h1>
<div style="color: white"><%= @user.email %></div>

<div>
  <h4 style="color: white">your added friends:</h4>
    <% @friendships.each do |friendship| %>
        <h5 style="color: white"><%= friendship.friend_id %></h5>
    <% end %>
 </div>
<%= link_to 'add a new friend',new_friendship_path, class: "btn btn-outline-dark btn-sm radius-15" %>
