.icon span{
  height: 60px;
  width: 60px;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 50px;
}
.icon span:hover{
 background: yellow;
 -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
#region{
    border-radius: 50px 0 0 50px;
    background-color: #ffffff;
    width: 300px;
    height: 75px;
}
#date{
    border-radius: 0 50px 50px 0;
    background-color: #ffffff;
    width: 300px;
    height: 75px;
}
input{
  text-align: center;
}
input::placeholder{
  text-align: center;
}
.container-events{
  margin-bottom: 100px;
}
