// Import page-specific CSS files here.
@import "home";
@import "profile_show";
@import "events";

@import "show_event";
@import "show_friendship";
body {
  background-image: url(imgfundo.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
