.group-container {
  width: 500px;
}

.group-card {
  background-color: rgb(40, 40, 50);
  border-radius: 20px;
}

.comment-container {
  width: 200px;
  font-size: 10px;
}

.comment-container .avater {
  height: 20px;
  width: 20px;
}

.comment {
  max-width: 400px;
  background-color: #757BC8;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 10px;
}

.chat-date {
  font-size: 8px;
}

.votes {
  background-color: #757BC8;
  width: 10px;
  height: 20px;
  margin: 0 1px;
}

#chat {
  height: 555px;
  width: 500px;
}
