.group-chat-container {
  color: white;
  background-color: rgba(19, 21, 24, 0.9);
  padding: 20px;
  border-radius: 20px;
}

.group-container {
  width: 500px;
}

.group-card {
  background-color: rgba(35, 37, 42, 0.9);
  border-radius: 20px;
}

.comment-container {
  width: 200px;
  font-size: 10px;
}

.comment-container .avater {
  height: 20px;
  width: 20px;
}

.comment {
  display: inline-block;
  margin-right: auto;
  background-color: #757BC8;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 10px;
}

.chat-date {
  font-size: 8px;
}

.votes {
  background-color: #757BC8;
  width: 10px;
  height: 20px;
  margin: 0 1px;
}

#chat {
  height: 655px;
  width: 500px;
}

.button-add-friend {
  color: white;
  height: 40px;
  background-color: #757BC8;
  border: 0px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
