
<div style="text-align:center;">
  <%= link_to 'Crie um grupo',new_group_path, class: "btn botton-search" %>
</div>
<div class="container-group">
  <% @groups.each do |group|%>
    <div class="box-group">
      <h5><strong>Nome: </strong><%= group.name %></h5>
      <p>Administrador: <%= group.user.id %></p>
      <div class="justify-content-center">
        <%= link_to '+ info',group_path(group), class: "btn botton-info" %>
      </div>
  </div>
  <% end %>
</div>
