
<div style="text-align:center;">
  <%= link_to 'Crie um grupo',new_group_path, class: "btn botton-search" %>
</div>
<div class="container-group">
  <% @groups.each do |group|%>
    <div class="box-group">
      <h5><strong><%= group.name %></strong></h5>
      <p>Membros:</p>
      <p><% group.members.each do |a|%>
        <%= cl_image_tag a.user.photo.key, class:"avatar-group" if a.user.photo.attached? %>
        <%end%>
      </p>
      <div class="justify-content-center">
        <%= link_to '+ info',group_path(group), class: "btn botton-info" %>
      </div>
    </div>
  <% end %>
</div>
