<%# <div class="busca"> %>
  <%#= form_with url: friendships_url, method: :get do %>
    <%#= text_field_tag :email,
        params[:email],
        class: "form-control",
        placeholder: "Encontre um amigo"
    %>
    <%# <div style="text-align: center; margin:10px;"> %>
      <%#= submit_tag 'Encontrar', class: "btn btn-dark btn-sm" %>
    <%# </div> %>
  <%# end %>
<%# </div> %>
