<h1 class= "text-white"><%= @event.name %></h1>

<div class="row justify-content-around m-0">
  <div class="card m-3 radius-5" style="width: 15rem;">
    <div class="flat-card">
      <div>
        <img src="<%= @event.image %>">
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Nome: </strong>
        <li class="list-group-item"><strong>Endereço: </strong>
        <li class="list-group-item"><strong>Região: </strong>
        <li class="list-group-item"><strong>Descrição: </strong>
        <li class="list-group-item"><strong>Avaliação: </strong>
        <li class="list-group-item"><strong>Preço: </strong>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'favoritar', favorites_event_path(@event), method: :post, class: "btn btn-outline-dark btn-sm radius-15" %>
<div class="row justify-content-around m-0">
  <%= link_to 'Back', events_path, class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
</div>
