<div class="backland">
  <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">

    <div class="carousel-inner mx-auto">
    <div class="botton" id="home-bt" style="text-align:center">
      <%= link_to 'Todos os eventos', events_path, class: "nav-link"%>
    </div>
      <% 10.times do |i| %>
        <div class="carousel-item <%= "active" if i.zero? %>">
            <%= image_tag("img#{i + 1}.jpg", class: "d-block w-100") %>
        </div>
      <%end%>
    </div>
  </div>
</div>
