.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

h2, .h2 {
  font-size: 2rem;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-wrap{
  flex-wrap: wrap !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.justify-content-center{
  justify-content:  center !important;
}

.flat-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(248, 246, 246);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 2px;
  opacity: 1.0;
  border-radius: 10px;
  width: 262px;
  height: 358px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-body {
  color: #140A48
}

.card:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
